<module>
	<rawname>itslenny</rawname>
	<name>Its Lenny</name>
	<version>0.0.2</version>
        <description>
           Send your Blacklisted Calls to Itslenny.com.
        </description>
	<type>setup</type>
	<category>Applications</category>
	<menuitems>
		<itslenny>Its Lenny</itslenny>
	</menuitems>
	<publisher>RECONWIRELESS</publisher> 
	<info>https://github.com/reconwireless/freepbx-itslenny</info>
	<location>https://github.com/reconwireless/freepbx-itslenny</location>
	<info></info>
        <changelog>
				*0.0.2* integrated teletorture...
                *0.0.1* First build of its lenny...
        </changelog>
</module>
